<!DOCTYPE html>
<html>

<head>
  <title>{{ .Wellname }} data</title>
  <!-- Tailwind -->
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="module" src="../static/js/header.js" defer></script>
  <script type="importmap">
    {
      "imports": {
        "header-component": "/static/js/header.js"

      }
    }
  </script>
  <!-- setup container -->
  <style>
    .container {
      max-width: 1200px;
      margin: auto;
    }
  </style>
  <!-- Highcharts -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <!-- HTMX -->
  <script src="https://unpkg.com/htmx.org@2.0.3"
    integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <!-- Drag & Drop library -->
  <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
  <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
</head>

<body class="w-full">
  <header-component></header-component>
  <div class="flex flex-col justify-center gap-10">
    <div class="">
      <h2 class="text-2xl text-center font-bold">Home Page</h2>
    </div>
    <div class="text-center">
      <p>Welcome to the home page!!!</p>
    </div>
  </div>
</body>

</html>