<!DOCTYPE html>
<html>

<head>
  <title>{{ .Wellname }} data</title>
  <!-- Tailwind -->
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- setup container -->
  <style>
    .container {
      max-width: 1200px;
      margin: auto;
    }
  </style>
  <!-- Highcharts -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <!-- HTMX -->
  <script src="https://unpkg.com/htmx.org@2.0.3"
    integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <!-- Drag & Drop library -->
  <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
  <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
</head>

<body class="w-full container">
  <header class="container">
    <nav class="flex justify-between items-center py-4">
      <div class="flex justify-between items-center">
        <a href="/" class="text-2xl font-bold">Home</a>
        <a href="/about" class="p-3">About</a>
        <a href="/contact" class="p-3">Contact</a>
      </div>
      <div class="flex justify-between items-center">
        <a href="/login" class="p-3">Login</a>
        <a href="/register" class="p-3">Register</a>
      </div>
    </nav>
  </header>
  <div class="flex flex-col justify-center gap-10">
    <div class="">
      <h2 class="text-2xl text-center font-bold">{{ .Wellname }}</h2>
    </div>
    <div class="text-center">
      <div id="container" style="width: 100%; height: 400px; margin: 0 auto"></div>

      <script>
        // Depth data passed from backend
        const depthData = JSON.parse('{{ .DepthData }}')
        console.log(depthData)

        document.addEventListener("DOMContentLoaded", function () {
          // Format data for Highcharts
          const gammaData = depthData.map(item => {
            if (parseFloat(item.Gamma) < 0) {
              item.Gamma = null
            }
            // convert string to number
            return [parseFloat(item.Depth), parseFloat(item.Gamma)]
          })

          const totalGasData = depthData.map(item => {
            if (parseFloat(item.Total_Gas) < 0) {
              item.Total_Gas = 0
            }
            // convert string to number
            return [parseFloat(item.Depth), parseFloat(item.Total_Gas)]
          })
          // console.log("formattedData", formattedData)

          // Initialize Highcharts
          Highcharts.chart('container', {
            chart: {
              type: 'line'
            },
            title: {
              text: 'Depth vs Value'
            },
            xAxis: {
              title: {
                text: 'Measured Depth'
              },
              labels: {
                format: '{value} m'
              }
            },
            yAxis: [{
              title: {
                text: 'Gamma'
              }
            },
            {
              title: {
                text: 'Total Gas'
              },
              opposite: true
            }],
            series: [{
              name: 'Gamma',
              color: 'green',
              data: gammaData,
              yAxis: 0
            }, {
              name: 'Total Gas',
              color: 'red',
              data: totalGasData,
              yAxis: 1
            }]
          })
        });
      </script>
    </div>
  </div>
</body>

</html>

<!-- console log the data being passed into this template -->
<!-- <script>

</script> -->